    </body>

    <footer>
        <div class = 'content'>
            <p class = "citaion">Created for the Congressional App Challenge 2022</p>
            <div class = "footer-name">
                <img class = "logo" src = "/assets/velox_logo.png">
                <h2>VELOX</h2>
            </div>
        </div>
        
    </footer>
</html>