<%- include('components/navbarTwo'); -%>

<div class = "course-header">

</div>

<div class = "lessons">

    <% for( var i = 0; i < info.length; i++){ %>
        <div class = "lesson">
            <h3><%=info[i].pageTitle%></h3>
            <a href = <%= "/c/" + courseNum + "/" + i + "/"%> >
                <%if(courseIndex == i){%>
                    <button class = "next">Here we go!</button>
                <%}else if(courseIndex > i){%>
                    <button class = "done">Done</button>
                <%}else{%>
                    <button class = "locked">Locked</button>
                <%}%>
            </a>
        </div>
    <%}%>
</div>
<%- include('components/footer') %>